
body{
    font-family: sans-serif;
    background: white;
    color: black;
}

.OS {
    font-size:30px;
    background-color:yellow;
    padding: 5px;
    border: 10px solid black;
    margin: 25px;
    height: auto;
    width: 100px;
    display: inline-block
    
}

.Taco {
    font-size:30px;
    background-color:yellow;
    padding: 20px;
    border: 10px solid black;
    margin: 25px;
    height: 50px;
    width: 100px;
    display: inline-block     
}

.Burger {
    font-size:30px;
    background-color:yellow;
    padding: 20px;
    border: 10px solid black;
    margin: 25px;
    height: 50px;
    width: 100px;

}