body{
    font-family: sans-serif;
    background: black;
}

.OS {
    color:white;
    background-color: black;
}

.Taco {
    color: yellow;
    font-size:30px;
}

.Burger {
    color:brown;
    font-size:30px;
}